body {
  text-align: center;
  background-color: #1d1d1d;
  color: #8d8d8d;
}

#cardSection {
  position: relative;
  top: 40px;
}

#card {
  top: 20px;
  width: 40%;
  border: 3px solid #8d8d8d;
  background-color: #1d1d1d ;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 12px;
  margin-left: 30%;
}

#card img, #card video {
  width: 80%;
  height: auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.subname {
  margin-left: 20px;
}

#searchBar {
  position: fixed;
  width: 40%;
  padding: 10px;
  left: 30%;
  top: 0;
  z-index: 1;
  background-color: #1c1c1c94;
}

a {
  color: #ffffff;
}

@media screen and (max-width: 1440px ) {
  #card {
    width: 60%;
    margin-left: 20%;
  }
  #searchBar{
    width: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 768px) {
  #card {
    width: 80%;
    margin-left: 10%;
  }
  #searchBar{
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 425px){
  #card {
    width: 90%;
    margin-left: 5%;
  }
  #searchBar{
    width: 90%;
    left: 5%;
  }
}